@keyframes active-item {
  from {
    background-color: var(--color-main-500);
  }

  to {
    background-color: transparent;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section-works {
  display: flex;
  gap: 54px;

  > nav > .navbar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  > nav > .navbar > .item {
    position: relative;
    display: flex;
    gap: var(--spacing-xxs);
    align-items: center;

    &::before {
      display: inline-block;
      width: 16px;
      height: 16px;
      content: '';
      background-color: var(--color-main-500);
      border-radius: 50%;
    }

    &.focus::before {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 1px;
      margin-left: 1px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 0 0 0 2px var(--color-main-500);
      animation: active-item 0.3s ease-in;
    }

    &:not(:last-child)::after {
      position: absolute;

      /* NOTE: 微調整 */
      top: calc(100% - 1px);
      left: 6px;
      display: block;
      width: 4px;

      /* NOTE: 微調整 */
      height: calc(var(--spacing-xs) + 3px);
      content: '';
      background-color: var(--color-main-500);
    }
  }

  > nav > .navbar > .item > .button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: var(--spacing-xs);
    color: var(--color-text);
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  > nav > .navbar > .item > .button > .label {
    transition: all 0.1s ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }

  > nav > .navbar > .item > .button > .number {
    position: absolute;
    top: calc(-1 * var(--spacing-xxs));
    right: calc(-1 * var(--spacing-xxs));
    font-size: 12px;
  }

  > nav > .navbar > .connector {
    display: block;
    width: 4px;
    height: 20px;
    margin: calc(-1 * var(--spacing-xs)) var(--spacing-none) calc(-1 * var(--spacing-xs)) var(--spacing-x3s);
    background-color: var(--color-main-500);
  }

  > .contents {
    flex: 1;

    /* MEMO: 指定しないとswiperが上手く横幅を定めてくれない */
    min-width: 0;
  }

  > .contents > .wrapper {
    display: none;
  }

  > .contents > .wrapper.show {
    display: block;
    animation: show 0.3s ease-in;
  }
}
