@use '~/styles/variables.module.scss';

.menu-wrapper {
  display: inline-flex;
  justify-content: space-around;
  width: 50%;

  > .menu {
    position: relative;
    font-size: variables.$font-size-normal;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      height: 2px;
      visibility: hidden;
      content: '';
      background: #333;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
      visibility: visible;
    }
  }
}
