@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.section-top {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  > .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
  }

  > .title {
    @include m.title;

    position: absolute;
    top: 50%;
    left: 160px;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    color: #fff;
    transform: translateY(-50%);
  }
}

@keyframes stretch {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}

.scroll-bar {
  position: absolute;
  right: 52px;
  bottom: 0;
  font-size: 13.3029px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: right top;

  > .wrapper {
    position: relative;
    width: 164px;
    height: 2px;
    margin-top: 8px;
    overflow: hidden;
    background-color: #d9d9d9;
  }

  > .wrapper > .bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: stretch 2s infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
}
