@use '~/styles/variables.module.scss';

.section-template {
  width: 100%;
  padding: 16px 8px;

  > .title {
    font-size: variables.$font-size-h2;
    font-weight: variables.$font-weight-bold;
    color: variables.$color-text-black;
    text-align: center;
  }
}
