@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .links {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  > .links > .link {
    @include m.menu;
  }

  > .links > .link > .text {
    font-size: 18px;
    font-weight: 400;
    color: v.$color-text;
    text-decoration: underline;
    cursor: pointer;
  }

  > .author {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
  }

  > .author > .detail {
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }

  > .author > .detail > .role {
    font-size: 10px;
    font-weight: 400;
  }

  > .author > .detail > .link {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
  }
}
