@use '~/styles/variables.module.scss' as v;

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: v.$z-index-header-menu - 10;
  width: 100vw;
  height: 100vh;
  background-color: v.$color-base-secondary;
  opacity: 0.7;
}
