.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-xxl) var(--spacing-xs) var(--spacing-m);
  overflow: hidden;
  background-color: var(--color-base-primary-950);

  > .left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: var(--spacing-xl);
    justify-content: space-between;
  }

  > .left > .text {
    flex: 1;
    justify-self: flex-start;
    font-size: 33.26px;
    font-weight: 700;
  }

  > .left > .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  > .left > .wrapper > .author {
    font-size: var(--spacing-xs);
    font-weight: 400;
  }

  > .right {
    align-self: flex-end;
  }

  > .right > .text {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-menu);
    font-size: 20px;
    font-style: var(--font-style-menu);
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;

    /* 26px is line-height */
    transform: rotate(90deg) translate(0, 26px);
    transform-origin: bottom right;
  }
}
