:root {
  /** primitive colors */
  --color-red-500: #bf5c5c;
  --color-red-50: #f8eded;
  --color-red-950: #120707;
  --color-red-100: #f1dada;
  --color-red-200: #e2b6b6;
  --color-red-300: #d49191;
  --color-red-400: #c56d6d;
  --color-red-600: #923a3a;
  --color-red-700: #6e2b2b;
  --color-red-800: #491d1d;
  --color-red-900: #250e0e;
  --color-blue-500: #5c94bf;
  --color-blue-50: #edf3f8;
  --color-blue-950: #070d12;
  --color-blue-100: #dae7f1;
  --color-blue-200: #b6cfe2;
  --color-blue-300: #91b7d4;
  --color-blue-400: #6d9fc5;
  --color-blue-600: #3a6c92;
  --color-blue-700: #2b516e;
  --color-blue-800: #1d3649;
  --color-blue-900: #0e1b25;
  --color-purple-500: #8251a8;
  --color-purple-50: #f3eef7;
  --color-purple-950: #0d0811;
  --color-purple-100: #e7ddee;
  --color-purple-200: #cebade;
  --color-purple-300: #b698cd;
  --color-purple-400: #9e75bd;
  --color-purple-600: #6b428a;
  --color-purple-700: #503267;
  --color-purple-800: #352145;
  --color-purple-900: #1b1122;
  --color-green-500: #588c43;
  --color-green-50: #f0f7ee;
  --color-green-950: #0b1108;
  --color-green-100: #e2efdc;
  --color-green-200: #c4deba;
  --color-green-300: #a7ce97;
  --color-green-400: #89bd75;
  --color-green-600: #568a42;
  --color-green-700: #416831;
  --color-green-800: #2b4521;
  --color-green-900: #162310;
  --color-main-500: #01ff78;
  --color-main-50: #e5fff1;
  --color-main-950: #001a0c;
  --color-main-100: #ccffe4;
  --color-main-200: #99ffc9;
  --color-main-300: #66ffad;
  --color-main-400: #33ff92;
  --color-main-600: #00cc5f;
  --color-main-700: #009947;
  --color-main-800: #006630;
  --color-main-900: #003318;
  --color-base-primary-500: #494949;
  --color-base-primary-50: #f2f2f2;
  --color-base-primary-950: #0d0d0d;
  --color-base-primary-100: #e6e6e6;
  --color-base-primary-200: #ccc;
  --color-base-primary-300: #b3b3b3;
  --color-base-primary-400: #999;
  --color-base-primary-600: #666;
  --color-base-primary-700: #4d4d4d;
  --color-base-primary-800: #333;
  --color-base-primary-900: #1a1a1a;
  --color-base-secondary-500: #3a3a3a;
  --color-base-secondary-50: #f2f2f2;
  --color-base-secondary-950: #0d0d0d;
  --color-base-secondary-100: #e6e6e6;
  --color-base-secondary-200: #ccc;
  --color-base-secondary-300: #b3b3b3;
  --color-base-secondary-400: #999;
  --color-base-secondary-600: #666;
  --color-base-secondary-700: #4d4d4d;
  --color-base-secondary-800: #333;
  --color-base-secondary-900: #1a1a1a;
  --color-light-500: #fff;
  --color-light-50: #f2f2f2;
  --color-light-950: #0d0d0d;
  --color-light-100: #e6e6e6;
  --color-light-200: #ccc;
  --color-light-300: #b3b3b3;
  --color-light-400: #999;
  --color-light-600: #666;
  --color-light-700: #4d4d4d;
  --color-light-800: #333;
  --color-light-900: #1a1a1a;

  /** semantic colors */
  --color-text: var(--color-light-500);
  --color-background-primary: var(--color-base-primary-500);
  --color-background-primary-hover: var(--color-base-primary-600);
  --color-background-secondary: var(--color-base-secondary-500);
  --color-background-secondary-hover: var(--color-base-secondary-600);
}
