:root {
  /* 8px */
  --font-size-xs: 0.5rem;
  /* 12px */
  --font-size-s: 0.75rem;
  /* 16px */
  --font-size-m: 1rem;
  /* 20px */
  --font-size-l: 1.25rem;
  /* 24px */
  --font-size-xl: 1.5rem;
  /* 32px */
  --font-size-xxl: 2rem;
}
