@use '~/styles/variables.module.scss';
@use '~/styles/mixins.module.scss' as m;

.section-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
  width: 100%;
  padding: 32px;
  background-color: variables.$color-secondary;

  > .profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 16px);

    @include m.sp {
      width: 100%;
    }
  }

  > .profile > .icon {
    text-align: center;
  }

  > .profile > .introduction {
    padding: 24px;
    font-size: variables.$font-size-normal;
    line-height: variables.$line-height;
    color: variables.$color-text-black;
  }

  > .graph {
    display: flex;
    align-items: center;
    width: calc(50% - 16px);

    @include m.sp {
      width: 100%;
    }
  }
}
