.about-wrapper {
  position: relative;
  flex: 1;

  > .about {
    width: 80%;
    padding: var(--spacing-x3l) var(--spacing-x4l);
    margin-top: var(--spacing-x5l);
    margin-left: auto;
    background: linear-gradient(270deg, rgb(1 255 118 / 72%) 0%, rgb(1 255 118 / 0%) 100%);

    @media (--sp-viewport) {
      width: 100%;
      padding: var(--spacing-m);
      margin-top: 192px;
    }
  }

  > .about > .title {
    font-family: var(--font-family-title);
    font-size: 28px;
    font-style: var(--font-style-title);
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

    @media (--sp-viewport) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  > .about > .description {
    margin-top: var(--spacing-xxs);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    white-space: pre-wrap;

    @media (--sp-viewport) {
      font-size: var(--spacing-xs);
      line-height: 23px;
    }
  }

  > .about > .links {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: flex-end;
    margin-top: var(--spacing-xs);
  }

  > .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-about-image);
    width: 300px;
    height: 210px;
    aspect-ratio: 4 / 3;
    filter: drop-shadow(0 10.6232px 11.2481px rgb(0 0 0 / 25%));
  }

  > .dummy {
    position: absolute;
    top: var(--spacing-none);
    left: var(--spacing-none);
    z-index: var(--z-index-about-image) + 5;
    width: 300px;
    height: 210px;
    aspect-ratio: 4 / 3;
    background-color: transparent;
  }
}

.certification-wrapper {
  margin-top: var(--spacing-m);

  > .title {
    font-family: var(--font-family-menu);
    font-size: 28px;
    font-style: var(--font-style-menu);
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: var(--color-text);
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
  }

  > .list > .item {
    padding-bottom: var(--spacing-xxs);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid var(--color-main-500);
  }
}
