@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.about-wrapper {
  position: relative;
  flex: 1;

  > .about {
    z-index: v.$z-index-about-contents;
    width: 80%;
    padding: 74px 100px;
    margin-top: 120px;
    margin-left: auto;
    background: linear-gradient(270deg, rgb(1 255 118 / 72%) 0%, rgb(1 255 118 / 0%) 100%);
  }

  > .about > .title {
    @include m.title;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
  }

  > .about > .description {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
  }

  > .about > .links {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
  }

  > .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: v.$z-index-about-image;
    width: 300px;
    height: 210px;

    // width: 240px;
    //height: 320px;
    aspect-ratio: 4 / 3;
    filter: drop-shadow(0 10.6232px 11.2481px rgb(0 0 0 / 25%));
  }

  > .dummy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: v.$z-index-about-image + 5;
    width: 300px;
    height: 210px;

    // width: 240px;
    // height: 320px;
    aspect-ratio: 4 / 3;
    background-color: transparent;
  }
}

.certification-wrapper {
  margin-top: 37px;

  > .title {
    @include m.title;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 16px;
  }

  > .list > .item {
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid v.$color-main-v2;
  }
}
