.author-container {
  display: flex;
  gap: var(--spacing-xs);
  align-items: flex-end;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-disabled);

  @media (--sp-viewport) {
    flex-direction: column;
    gap: var(--spacing-xxs);
    align-items: flex-start;
  }

  > .detail {
    display: flex;
    gap: var(--spacing-xxs);
    align-items: flex-end;
  }

  > .detail > .role {
    font-size: 10px;
    font-weight: 400;
  }

  > .detail > .link {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
  }
}
