.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-none) var(--spacing-m);

  @media (--sp-viewport) {
    padding: var(--spacing-none);
  }

  > .main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
  }
}
