@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.footer-container {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 64px 80px 116px 168px;
  overflow: hidden;
  background-color: v.$color-base-secondary;

  > .heading {
    flex: 1;
    justify-self: flex-start;
    font-size: 33.26px;
    font-weight: 700;
  }

  > .links {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  > .links > .link {
    @include m.menu;
  }

  > .links > .link > .text {
    font-size: 18px;
    font-weight: 400;
    color: v.$color-text;
    text-decoration: underline;
    cursor: pointer;
  }

  > .go {
    flex: 1;
    justify-self: flex-end;
  }

  > .go > .text {
    @include m.menu;

    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    transform: translate(100%, 0) rotate(90deg);
    transform-origin: top left;
  }
}
