.article {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-background-primary);

  &:hover {
    background-color: var(--color-background-primary-hover);
  }

  > .thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    object-fit: cover;

    > .logo {
      position: absolute;
      top: var(--spacing-xs);
      left: var(--spacing-xs);
    }

    > .emoji {
      font-size: 48px;
    }
  }

  > .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
    padding: var(--spacing-xs);
    line-height: 23px;

    > .title {
      flex: 1;
    }

    > .meta {
      display: flex;
      gap: var(--spacing-xxs);
      align-items: center;
      font-size: 14px;
      color: var(--color-text);
    }
  }
}
