@use '~/styles/variables.module.scss' as v;

.header-container {
  > .menu {
    position: fixed;
    top: 37px;
    right: 62px;
    z-index: v.$z-index-header-menu;
    display: flex;
    gap: 32px;
    align-items: center;
  }

  > .menu > .list > .text {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
