@use '~/styles/variables.module.scss' as v;

@keyframes fade-in {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: calc(100% - 4px);
    opacity: 1;
  }
}

.locale-dropdown {
  position: relative;

  > .button {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    color: v.$color-text;
    cursor: pointer;
    background: none;
    border: none;
  }

  > .button > .arrow {
    width: 0;
    height: 0;
    border-top: 5px solid v.$color-text;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  > .dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    animation: fade-in 0.1s ease-in;
  }

  > .dropdown > .menu > .list {
    font-size: 18px;
    line-height: 28px;
    color: v.$color-text;
    text-align: center;
    border: v.$color-text solid 1px;
  }

  // TODO: refactor
  /* stylelint-disable-next-line rscss/class-format */
  > .dropdown > .menu > .list > a {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: v.$color-main-v2;
    }
  }
}
