@use '~/styles/variables.module.scss';

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 64px 40px 16px;
  color: variables.$color-text-black;
  background-color: variables.$color-main;
  filter: drop-shadow(0 8px 8px rgb(0 0 0 / 70%));

  > .logo {
    position: relative;
  }

  > .menu {
    width: 50%;
  }
}
