.section-skill {
  > .wrapper {
    @media (width <= var(--sp-width)) {
      overflow-x: auto;
    }
  }

  > .wrapper > .graph {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: flex-end;
    padding: 0 40px;

    @media (width <= var(--sp-width)) {
      width: 680px;
    }
  }

  > .wrapper > .graph > .axis {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-right: none;
    border-bottom: none;
    border-left: none;

    &.origin {
      bottom: 0;
      border-top: 1px solid var(--color-main-v2);
    }

    &.first {
      bottom: 30%;
      border-top: 1px dotted var(--color-main-v2);
    }

    &.second {
      bottom: 60%;
      border-top: 1px dotted var(--color-main-v2);
    }

    &.third {
      bottom: 90%;
      border-top: 1px dotted var(--color-main-v2);
    }
  }

  > .description {
    margin-top: 16px;
    font-size: 18px;
  }
}
