@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.section-skill {
  > .wrapper {
    @include m.sp {
      overflow-x: auto;
    }
  }

  > .wrapper > .graph {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: flex-end;
    padding: 0 40px;

    @include m.sp {
      width: 680px;
    }
  }

  > .wrapper > .graph > .axis {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-right: none;
    border-bottom: none;
    border-left: none;

    &.-origin {
      bottom: 0;
      border-top: 1px solid v.$color-main-v2;
    }

    &.-first {
      bottom: 30%;
      border-top: 1px dotted v.$color-main-v2;
    }

    &.-second {
      bottom: 60%;
      border-top: 1px dotted v.$color-main-v2;
    }

    &.-third {
      bottom: 90%;
      border-top: 1px dotted v.$color-main-v2;
    }
  }

  > .description {
    margin-top: 16px;
    font-size: 18px;
  }
}
