.opener-container {
  position: fixed;
  top: 36px;
  right: var(--spacing-xs);
  z-index: var(--z-index-header-menu);
  width: 62px;
  height: 14px;
  cursor: pointer;

  &.open > .line {
    &:nth-child(1) {
      transform: rotate(12deg) translate(0, 7px);
    }

    &:nth-child(2) {
      transform: rotate(-12deg) translate(0, -7px);
    }
  }

  > .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transition: all 0.3s;

    &:nth-child(1) {
      top: 0;

      &.open {
        transform: rotate(45deg) translate(0, 7px);
      }
    }

    &:nth-child(2) {
      top: 14px;

      &.open {
        transform: rotate(-45deg) translate(0, 7px);
      }
    }
  }
}
