@keyframes active-item {
  from {
    background-color: var(--color-main-500);
  }

  to {
    background-color: transparent;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section-works {
  > nav > .navbar {
    display: flex;
    gap: 24px;
  }

  > nav > .navbar > .item {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      margin-left: 2px;
      content: '';
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #8e8e8e;
    }

    &.focus::before {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-color: var(--color-main-500);
      border-radius: 50%;
      box-shadow: inherit;
    }
  }

  > nav > .navbar > .item > .button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    color: #8e8e8e;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &.focus {
      color: var(--color-main-500);
    }
  }

  /* TODO: refactor */
  > nav > .navbar > .item > .button > .label {
    font-size: 14px;
    font-weight: 700;
  }

  > nav > .navbar > .item > .button > .number {
    position: absolute;
    top: 0;
    right: -8px;
    font-size: 8px;
    font-weight: 700;
  }

  > .contents {
    /* MEMO: 指定しないとswipeが上手く横幅を定めてくれない */
    min-width: 0;
    margin-top: 16px;
  }

  > .contents > .wrapper {
    display: none;
    height: 100vh;
  }

  > .contents > .wrapper.show {
    display: block;
    animation: show 0.3s ease-in;
  }
}
