.slide-body {
  width: 100%;
  height: 100%;

  // MEMO: Swiperの仕様で間にWrapperが挟まってしまうので'>'は付けない
  /* stylelint-disable-next-line rscss/no-descendant-combinator */
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
