@use '../../../../styles/variables.module.scss';

.section-top {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 128px 0;

  > .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  > .wrapper > .heading {
    margin-left: 32px;
    font-size: variables.$font-size-h1;
    font-weight: variables.$font-weight-bold;
    color: variables.$color-white;
    letter-spacing: 24px;
  }

  > .wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
