@use '~/styles/variables.module.scss';
@use '~/styles/mixins.module.scss' as m;

.section-top {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 128px 0;

  > .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    @include m.sp {
      align-items: end;
      justify-content: center;
    }
  }

  > .wrapper > .heading {
    margin-left: 32px;
    font-size: variables.$font-size-h1;
    font-weight: variables.$font-weight-bold;
    color: variables.$color-white;
    letter-spacing: 24px;

    @include m.sp {
      margin-bottom: 64px;
      margin-left: 0;
      letter-spacing: 12px;
    }
  }

  > .wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
