.contents-layout {
  position: relative;
  display: flex;
  width: 100vw;
  padding: 140px 48px;

  @media (width <= var(--sp-width)) {
    display: block;
    padding: 96px 16px;
  }

  &.theme-primary {
    background-color: var(--color-base-primary);
  }

  &.theme-secondary {
    background-color: #3a3a3a;
  }

  > .wrapper {
    width: 132px;
  }

  > .wrapper > .header {
    display: inline-block;
    font-family: var(--font-family-title);
    font-size: 32px;
    font-style: var(--font-style-title);
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    color: var(--color-text);
    letter-spacing: 0.07em;
    transform: translate(-100%, 0%) rotate(-90deg);
    transform-origin: right top;

    @media (width <= var(--sp-width)) {
      font-size: 24px;
      line-height: 28px;
      transform: inherit;
      transform-origin: inherit;
    }
  }

  > .contents {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1120px;

    @media (width <= var(--sp-width)) {
      margin-top: 40px;
    }
  }
}
