@use '~/styles/variables.module.scss' as v;
@use '~/styles/mixins.module.scss' as m;

.contents-layout {
  position: relative;
  display: flex;
  width: 100vw;
  padding: 140px 48px;

  @include m.sp {
    display: block;
    padding: 96px 16px;
  }

  &.-theme-primary {
    background-color: v.$color-base-primary;
  }

  &.-theme-secondary {
    background-color: #3a3a3a;
  }

  > .wrapper {
    width: 132px;
  }

  > .wrapper > .header {
    @include m.title;

    display: inline-block;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    color: v.$color-text;
    letter-spacing: 0.07em;
    transform: translate(-100%, 0%) rotate(-90deg);
    transform-origin: right top;

    @include m.sp {
      font-size: 24px;
      line-height: 28px;
      transform: inherit;
      transform-origin: inherit;
    }
  }

  > .contents {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1120px;

    @include m.sp {
      margin-top: 40px;
    }
  }
}
