@use '~/styles/variables.module.scss' as v;
@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: v.$color-text;
  background-color: v.$color-base-secondary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
