/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

$sp: 768px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin title {
  font-family: 'Ubuntu';
  font-style: normal;
}

@mixin menu {
  font-family: 'IBM Plex Mono';
  font-style: normal;
}

/* stylelint-disable property-no-unknown */
/* stylelint-disable property-case */
/* stylelint-disable selector-pseudo-class-no-unknown */
:export {
  spWidth: $sp;
}
/* stylelint-enable property-no-unknown */
/* stylelint-enable property-case */
/* stylelint-enable selector-pseudo-class-no-unknown */
