/* color */
$color-main: #97ffe6;
$color-secondary: #f7e399;
$color-third: #fffdd9;
$color-white: #fff;
$color-text-black: #304556;

/* v2 */
$color-main-v2: #01ff76;
$color-base: #494949;
$color-base-second: #0d0d0d;
$color-text: #fff;

/* font-size */
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-normal: 16px;

/* font-weight */
$font-weight-middle-bold: 700;
$font-weight-bold: 900;

/* line-height */
$line-height: 1.7;

/* z-index */
$z-index-header-menu: 1000;

/* stylelint-disable property-no-unknown */
/* stylelint-disable property-case */
/* stylelint-disable selector-pseudo-class-no-unknown */
:export {
  colorMain: $color-main;
  colorSecondary: $color-secondary;
  colorThird: $color-third;
  colorTextBlack: $color-text-black;
}
/* stylelint-enable property-no-unknown */
/* stylelint-enable property-case */
/* stylelint-enable selector-pseudo-class-no-unknown */
