.links-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  > .link {
    font-family: var(--font-family-menu);
    font-style: var(--font-style-menu);
  }

  > .link > .text {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text);
    text-decoration: underline;
    cursor: pointer;
  }
}
